<div class="buybox-pay-options flex-align-center">
  <div class="buybox-pay-options--icon flex-align-center">
    <img src="https://cdn.shopify.com/s/files/1/0277/3470/4268/files/PayPal-logo.webp" alt="PayPal">
  </div>
  <div class="buybox-pay-options--icon flex-align-center">
    <img src="https://cdn.shopify.com/s/files/1/0277/3470/4268/files/klarna-logo.webp" alt="Klarna">
  </div>
  <div class="buybox-pay-options--icon flex-align-center">
    <img src="https://cdn.shopify.com/s/files/1/0277/3470/4268/files/rechnung-logo.webp" alt="Rechnung">
  </div>
  <div class="buybox-pay-options--text">
    und weitere...
  </div>
</div>