<span class="collapsible-trigger__icon collapsible-trigger__icon--open{% unless no_circle %} collapsible-trigger__icon--circle{% endunless %}" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 34 34"><path d="M16.3201 6.12V16.32H6.12012V17.68H16.3201V27.88H17.6801V17.68H27.8801V16.32H17.6801V6.12H16.3201Z" fill="currentColor"/></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewBox="0 0 34 34"><path d="M6.12012 16.3199V17.6799H27.8801V16.3199H6.12012Z" fill="currentColor"/></svg>
</span>
