<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-gridHulkList data-added="false" data-proID="{{ productId }}" data-varID="{{ variantId }}">
    <i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty"></i></i>
    <span>Add to wishlist</span>
    <span class="count">(0)</span>
</a>
