<div id="upsell-category-slider-section">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'daypack-products' %}
        {% if product.handle contains 'ela-mo-daypack' %}
          {% render 'upsell-category-slider',
            product: product,
            product_collection: block.settings['daypack-collection'],
            product_type: 'daypack',
            section: section
          %}
        {% endif %}
      {% when 'rolltop-products' %}
        {% if product.handle contains 'ela-mo-rolltop' %}
          {% render 'upsell-category-slider',
            product: product,
            product_collection: block.settings['rolltop-collection'],
            product_type: 'rolltop',
            section: section
          %}
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Upsell category slider",
  "settings": [
    {
      "info":"This section is only for ela-mo-rolltop and ela-mo-daypack products",
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub-title",
      "label": "Sub Title"
    },
    {
      "type": "url",
      "id": "sub-title-url",
      "label": "Sub Title Url"
    }
  ],
  "blocks":[
    {
      "type":"daypack-products",
      "name":"Daypack products",
      "settings":[
        {
          "type": "collection",
          "id": "daypack-collection",
          "label": "Choose Collection"
        }
      ]
    },
    {
      "type":"rolltop-products",
      "name":"Rolltop products",
      "settings":[
        {
          "type": "collection",
          "id": "rolltop-collection",
          "label": "Choose Collection"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Upsell category slider"
    }
  ]

}
{% endschema %}

<style>
  #upsell-category-slider-section{
    display: none;
  }
  {% if product.handle contains 'ela-mo-daypack' or product.handle contains 'ela-mo-rolltop' %}
    div#upsell-category-slider-section{
      display: block;
    }
  {% endif %}
</style>

{% comment %}
  {% if product.handle contains 'ela-mo-daypack' %}
    {% render 'upsell-category-slider', product: product, product_collection: collections.daypacks %}
  {% elsif product.handle contains 'ela-mo-rolltop' %}
    {% render 'upsell-category-slider', product: product, product_collection: collections['rolltop-rucksaecke'] %}
  {% endif %}

    {% if product.handle contains 'ela-mo-rolltop'
      or product.handle contains 'geschenkgutschein'
      or product.handle contains 'ela-mo-rucksack-regenschutz'
      or product.handle contains 'ela-mo-daypack'
      or product.handle contains 'ela-mo™-daypack'
      or product.handle contains 'daypack'
    %}
    {% render 'upsell-category-slider', product: product %}
    {% endif %}
{% endcomment %}
