<section class="yotpo">
<div
	class="yotpo yotpo-pictures-widget"
	data-gallery-id="5f0c61bfa7ccdf17584db01c">
</div>
</section>

{% schema %}
{
	"name": "Yotpo gallery",
	"settings": [],
	"presets": [
		{
			"name": "Yotpo gallery",
			"category": "Advanced layout"
		}
	]
}
{% endschema %}